VITE_FIREBASE_API_KEY=AIzaSyAdv4cW4BIzNkco9TWI_iLxroAhyHukefo
VITE_FIREBASE_AUTH_DOMAIN=adishri-capitals.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=adishri-capitals
VITE_FIREBASE_STORAGE_BUCKET=adishri-capitals.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=467975077047
VITE_FIREBASE_APP_ID=1:467975077047:web:c159671473ce0479716132
VITE_FIREBASE_MEASUREMENT_ID=G-ND506KYVKE
